# Files
.august.conf
.shopping_list.json
.ssh
.DS_Store
*.DS_Store

secrets.yaml
options.xml
aircast.xml
home-assistant.log
home-assistant_v2.db
OZW_Log.txt
pyozw.sqlite
zigbee.db
zwcfg_0xd60eff57.xml
zwscene.xml
custom_components/.DS_Store


# Directories
node-red/
tts/
www/
.storage/
.ssh/